






.nextButton {
   
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    transition: all 0.5s;
    cursor: pointer;

}

.nextButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}

.nextButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;

}

.nextButton:hover span {
    padding-right: 20px;
}

.nextButton:hover span:after {
    opacity: 1;
    right: 0;
}









.prvButton {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    transition: all 0.5s;
    cursor: pointer;
  
}

.prvButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.prvButton span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 15px;
    transition: 0.5s;
}

.prvButton:hover span {
    padding-left: 15px;
}

.prvButton:hover span:after {
    opacity: 1;
    left: 0px;
}

